@import 'colors';

.app-container {
  position: relative;

  .header{
    height: 60px;
    background: #000;
    margin-left: 60px;
  }

  .left-blu-bar{
    width: 60px;
    height: 100vh;
    background:$blu-bars;
    position: absolute;
    top: 0;
  }


  .content-background{
    width: 100%;
    height: 91vh;
    background:$background-color;

    .container{
      width: 100%;
      height: 100%;

      .album-container{
        width: 850px;
        height: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .album-box{
          float: left;
          width: 230px;
          height: 49%;
          background: #000;
          margin-top: 20px;
          text-align: center;

          .box-image{
            img{
              width: 150px;
              height: 150px;
            }

          }

          .title{
            h3{

              color:$title-album;
              font-size: 15px;
            }

          }

          .artist{
            h5{
              color: $nameArtist;
            }
          }

          .year{
            h5{
              color:$title-album;
            }
          }
        }
      }

    }
  }

  .right-blu-bar{

    width: 60px;
    height: 100vh;
    background:$blu-bars;
    position: absolute;
    right: 0;
    top: 0;
  }
}
